.directories {
  display: flex;
  flex-wrap: wrap;
}

.directoriesPagePanel {

  .header {
    display: flex;

    .settingsIcon {
      display: flex;
      justify-content: space-between;
      align-self: center;
      width: 70px;
      position: absolute;
      right: 70px;
    }
  }

  .previews {
    display: flex;
    justify-content: space-evenly;
  }
}

