
.recommendModuleContent {
  height: 70vh;
  overflow-y: auto;

  .appUsers {
    padding-bottom: 40px;
    position: relative;
  }

  .actionButton {
    width: 100%;
    position: absolute;
    bottom: 0;
    padding-bottom: 7px;
    display: flex;
    justify-content: center;
    background-color: white;

    .sendButton {
        width: 96%;
    }
  }
}