.directory {
  display: flex;
  flex-direction: column;
   .dirFilmWrapper {
     display: flex;
     flex-direction: column;
     align-items: center;
     .closeIcon{
       font-size: 38px;
       position: absolute;
       right: 35px;
       color: black;
       font-weight: 700;
     }
   }
}

.preview {
  width: 45%;
  height: 150px;
  margin: 10px;
  background-color: #727272;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;

  &Name {
    font-size: 20px;
  }
}